In [128]:
from PyPDF2 import PdfReader
import re
import pandas as pd

In [129]:
reader = PdfReader('GENOMIC.pdf')

num_pages = len(reader.pages)

texto = []

for page_number in range(num_pages):
    page = reader.pages[page_number]
    texto.append(page.extract_text())

In [130]:
# Escrevendo o texto em um arquivo de texto
with open('texto_extraido.txt', 'w', encoding='utf-8') as file:
    for page_text in texto:
        file.write(page_text)

In [131]:
# Lendo o conteúdo do arquivo texto_extraido.txt
with open('texto_extraido.txt', 'r', encoding='utf-8') as file:
    texto_do_arquivo = file.read()

# Expressão regular para encontrar as linhas com os dados desejados
padrao =r'Oncotype DX\s+Breast\s+Recurrence\s+Score®\s+test1\s+OR(\S+)\s+(.+?)(\d{2}\.\d{2}\.\d{4})\s+(\d{2}\.\d{2}\.\d{4})\s+([\d,]+)'

# Encontrar todas as correspondências no texto
correspondencias = re.findall(padrao, texto_do_arquivo, re.DOTALL)

# Lista para armazenar as informações formatadas
informacoes_formatadas = []

# Iterar sobre as correspondências e formatar as informações
for correspondencia in correspondencias:
    informacao = correspondencia[1].strip()
    data_inicio = correspondencia[2]
    data_termino = correspondencia[3]
    valor = correspondencia[4]

    # Adicionar as informações formatadas à lista
    informacoes_formatadas.append([informacao, data_inicio, data_termino, valor])

# Criar DataFrame do Pandas com as informações formatadas
df = pd.DataFrame(informacoes_formatadas, columns=['Nome Cliente', 'Data de cadastro', 'Data do serviço', 'Valor'])

# Exibir o DataFrame
df.head()

,Nome Cliente,Data de cadastro,Data do serviço,Valor
0,CARLA LAMBERTI,21.09.2023,29.09.2023,"1,450"
1,VANDA VOZNIAK,21.09.2023,29.09.2023,"1,450"
2,MAGDA FRIAS \nGONCALVES,25.09.2023,29.09.2023,"1,450"
3,JANICE MARIA \nGERALDO DA SILVA,25.09.2023,29.09.2023,"1,450"
4,JANIR IZABEL \nMACHADO DE \nOLIVEIRA,21.09.2023,29.09.2023,"1,450"

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nome Cliente      115 non-null    object
 1   Data de cadastro  115 non-null    object
 2   Data do serviço   115 non-null    object
 3   Valor             115 non-null    object
dtypes: object(4)
memory usage: 3.7+ KB

In [133]:
df['Nome Cliente'] = df['Nome Cliente'].str.replace('\n', '')
df['Data de cadastro'] = df['Data de cadastro'].str.replace('.', '/')
df['Data do serviço'] = df['Data do serviço'].str.replace('.', '/')

C:\Users\Shirley Dezan\AppData\Local\Temp\ipykernel_102824\1589858334.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Data de cadastro'] = df['Data de cadastro'].str.replace('.', '/')
C:\Users\Shirley Dezan\AppData\Local\Temp\ipykernel_102824\1589858334.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Data do serviço'] = df['Data do serviço'].str.replace('.', '/')

In [134]:
df['Valor'] = df['Valor'].str.replace(',', '').astype(float)

In [135]:
df.head()

                         Nome Cliente Data de cadastro Data do serviço   Valor
0                    CARLA   LAMBERTI       21/09/2023      29/09/2023  1450.0
1                     VANDA   VOZNIAK       21/09/2023      29/09/2023  1450.0
2             MAGDA FRIAS   GONCALVES       25/09/2023      29/09/2023  1450.0
3     JANICE MARIA GERALDO DA   SILVA       25/09/2023      29/09/2023  1450.0
4  JANIR IZABEL MACHADO DE   OLIVEIRA       21/09/2023      29/09/2023  1450.0

In [136]:
df['Valor'].sum()

166750.0